*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    text-align: center;
    padding-top: 50px;
}
img{
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}
.description{
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    max-width: 370px;
}
.link-recipe{
    margin-top: 25px;
    display: block;
    text-align: center;
}
.ingridients_title{
    padding-top: 50px;
    padding-left: 90px;
}
.ingridients_list{
    padding-left: 65px;
}
.step_title{
    padding-top: 25px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 600;
}
.step_text{
    padding-top: 25px;
    max-width: 600px;
    padding-left: 50px;
}