.logo{
    display: block;
    background-image: url('../img/odin-logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 124px;
    width: 124px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 100px;
}