.recipe {
}
.recipe__img {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid black;
}
.recipe__title {
    font-size: 25px;
    font-weight: 700;
}
.recipe__subtitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.recipe__list {
    padding-left: 15px;
    margin-bottom: 20px;
}
.recipe__step {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.recipe__text {
    max-width: 500px;
    margin-bottom: 10px;
    font-style: italic;
}
.recipe__main-link{
    color: blue;
    font-size: 25px;
    font-weight: 700;
    padding: 20px 0px;
}